html, body
{ min-height: 100%; min-width: 100%;}


html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input,hr {margin:0; padding:0;}
h1,h2,h3,h4,h5,h6,pre,code,address,caption,cite,code,em,strong,th {font-size:1em; font-weight:normal; font-style:normal;}
ul,ol {list-style:none;}
fieldset,img,hr {border:none;}
caption,th {text-align:left;}
table {border-collapse:collapse; border-spacing:0;}
td {vertical-align:top;}

*
{ margin: 0;
  padding: 0;}


@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.0.3');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

#clear {
  clear:both;
}

body
{ font: normal .80em 'trebuchet ms', arial, sans-serif; 
  background-image: url('images/imgIT2', 'images/imgEN', 'imagesFR', 'images/imgES', 'images/imgcontact') no-repeat center center fixed;
  
  -webkit-background-size: cover;
  -moz-background-size: auto, cover;
  -o-background-size: cover;
  background-size: auto, cover; /* Cross browser functionality */
  color: #fff;}

p
{ padding: 0 0 20px 0  line-height: 1.5em;
  font-size: 108%;}



h1, h2, h3, h4, h5, h6 
{ font: normal 250% 'Yanone Kaffeesatz', arial, sans-serif;
  color: #FFF;
  margin: 0 0 15px 0;
  padding: 5px 0 5px 0;}

h2
{ font: normal 170% 'Yanone Kaffeesatz', arial, sans-serif;
  color: #FFF;  
  margin: 0;
  padding: 0 0 8px 0;}

h3
{ font-size: 200%;
  margin: 0 0 9px 0;
  color: #FFF;}

h4, h5, h6
{ margin: 0;
  padding: 0 0 5px 0;
  font: normal 100% arial, sans-serif;
  color: #FFF;
  line-height: 1em;}

h5, h6
{ font: italic 95% arial, sans-serif;
  color: #888;
  padding-bottom: 15px;}

h6
{ color: #FFF;}

a, a:hover
{ outline: none;
  text-decoration: none;
  color: #35BDF5;}

a:hover
{ text-decoration: underline;}

.left
{ float: left;
  width: auto;
  margin-right: 10px;}

.right
{ float: right; 
  width: auto;
  margin-left: 10px;}

.center
{ display: block;
  text-align: center;
  margin: 20px auto;}

ul
{ margin: 2px 0 22px 17px;}

ul li
{ list-style-type: circle;
  margin: 0 0 0 0; 
  padding: 0 0 4px 5px;}

ol
{ margin: 8px 0 22px 20px;}

ol li
{ margin: 0 0 11px 0;}

#main, #header, #logo, #menubar, #site_content, #footer
{ margin-left: auto; 
  margin-right: auto;
  width: 950px;
}

#main
{ width: 950px;
  margin: 30px auto;}


/* LANGUAGE SELECTOR */

#nav,#nav ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#nav {
    clear: both;
    font-size: 14px;
    height: 0;
    padding: 0 0 100px 50px;
    position: relative;
    width: 50px;
}
#nav ul {
    background-color: transparent;
    border:0 solid transparent;
    border-radius: 0 5px 5px 5px;
    border-width: 0 1px 1px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    left: -9999px;
    overflow: hidden;
    position: absolute;
    top: -9999px;
    z-index: 2;

    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);

    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;

    -moz-transition: -moz-transform 0.2s linear;
    -ms-transition: -ms-transform 0.2s linear;
    -o-transition: -o-transform 0.2s linear;
    -webkit-transition: -webkit-transform 0.2s linear;
    transition: transform 0.2s linear;
}
#nav li {
    background: transparent url(transparent.png)  repeat scroll right 5px transparent;
    float: left;
    position: relative;
}
#nav li a {
  background-color: #000;
    color: #5CF061;
    display: block;
    float: left;
    font-weight: normal;
    height: 20px;
    padding: 5px 15px 0;
    position: relative;
    text-decoration: none;
    text-shadow: 1px 1px 1px #000000;
}
#nav li:hover > a {
    color: #00B4FF;
}
#nav li:hover, #nav a:focus, #nav a:hover, #nav a:active {
    background: none repeat scroll 0 0 #121212;
    outline: 0 none;

}
#nav li:hover ul.subs {
    left: 0;
    top: 28px;
    width: 92px;

    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}
#nav ul li {
    background: none;
    width: 100%;
}
#nav ul li a {
    float: none;
}
#nav ul li:hover > a {
    background-color: #121212;
    color: #00B4FF;

}


/* END OF LANGUAGE SELECTOR */


.slogan
{
background: #1D1D1D;
  width: 750px;
  height: 80px;
  border-radius: 8px;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  -o-border-radius:8px;
  -ms-border-radius:8px;
  border: 1px solid #000;
  margin-top: 40px;
}

.slogan2
{ float: left;
  padding-top: 10px;
  padding-bottom: 20px; 
  padding-left: 25px;
  text-align: left; 
  font: 600% 'tangerine', arial; 
  color: #35BDF5;
}

  .title
{ padding-top: 53px;
  float: right;
  padding-right: 10px; 
  font: 120% 'trebuchet ms', arial; 
  color: #fff;}

.menu, .menu ul {
    list-style: none;
    padding: 0.1px;
    margin: 0;
    border-radius: 8px;
    -moz-border-radius:8px;
  -webkit-border-radius:8px;
  -o-border-radius:8px;
  -ms-border-radius:8px;
}
.menu {
    height: 78px;
    float: left;
}
.menu li {
    background: #1d1d1d;
    border: 1px solid #000;
    min-width: 181px;
    border-radius: 8px;
}
.menu > li {
    display: block;
    float: left;
    position: relative;
}
.menu > li:first-child {
    border-radius: 5px 0 0;
}
.menu a {
    border-left: 3px solid rgba(0, 0, 0, 0);
    color: #fff;
    display: block;
    font-family: 'trebuchet ms', arial;
    font-size: 120%;
    line-height: 54px;
    padding: 0 25px;
    text-decoration: none;
    text-transform: uppercase;
}

.menu li:hover {
    background-color: #1c1c1c;
    background: -moz-linear-gradient(#1c1c1c, #1b1b1b);
    background: -ms-linear-gradient(#1c1c1c, #1b1b1b);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1c1c1c), color-stop(100%, #1b1b1b));
    background: -webkit-linear-gradient(#1c1c1c, #1b1b1b);
    background: -o-linear-gradient(#1c1c1c, #1b1b1b);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1c1c1c', endColorstr='#1b1b1b');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#1c1c1c', endColorstr='#1b1b1b')";
    background: linear-gradient(#1c1c1c, #1b1b1b);

    border-bottom: 2px solid #222222;
    border-top: 2px solid #1B1B1B;
}
.menu li:hover > a {
    border-radius: 5px 0 0 0;
    border-left: 3px solid #049C22;
    color: #049C22;
}

/* submenu styles */
.submenu {
    left: 0;
    max-height: 0;
    position: absolute;
    top: 100%;
    z-index: 0;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #292929), color-stop(100%, #292929));
    

    -webkit-perspective: 400px;
    -moz-perspective: 400px;
    -ms-perspective: 400px;
    -o-perspective: 400px;
    perspective: 400px;
}
.submenu li {
    opacity: 0;

    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    transform: rotateY(90deg);

    -webkit-transition: opacity .4s, -webkit-transform .5s;
    -moz-transition: opacity .4s, -moz-transform .5s;
    -ms-transition: opacity .4s, -ms-transform .5s;
    -o-transition: opacity .4s, -o-transform .5s;
    transition: opacity .4s, transform .5s;
}
.menu .submenu li:hover a {
    border-left: 3px solid #5CF061;
    border-radius: 0;
    color: #ffffff;
}
.menu > li:hover .submenu, .menu > li:focus .submenu {
    max-height: 2000px;
    z-index: 10;
}
.menu > li:hover .submenu li, .menu > li:focus .submenu li {
    opacity: 1;

    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}

/* CSS3 delays for transition effects */
.menu li:hover .submenu li:nth-child(1) {
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}
.menu li:hover .submenu li:nth-child(2) {
    -webkit-transition-delay: 50ms;
    -moz-transition-delay: 50ms;
    -ms-transition-delay: 50ms;
    -o-transition-delay: 50ms;
    transition-delay: 50ms;
}
.menu li:hover .submenu li:nth-child(3) {
    -webkit-transition-delay: 100ms;
    -moz-transition-delay: 100ms;
    -ms-transition-delay: 100ms;
    -o-transition-delay: 100ms;
    transition-delay: 100ms;
}

/* SOCIAL ICONS */


/* Component *******************************/
/* Container */
#container {
  max-width:180px;
  float: right;
  height:auto;
  padding: 0;
  margin: -75px 200px 0px 30px;
  position: relative;
}


#container #menu-wrap {
  width:180px;
  height:auto;
  background:#1D1D1D;
/*  border-bottom:#09F thin solid;
  border-bottom-width:3px;*/
  padding:0px 0px 0px 0px;
  margin:0px 0px 10px 0px;
  text-align:center;
  line-height:13px;
  border-radius: 8px;
    -moz-border-radius:8px;
  -webkit-border-radius:8px;
  -o-border-radius:8px;
  -ms-border-radius:8px;
}

#container #menu-wrap .menu-item {
    width: 38px;
    height: 55px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    border-radius: 3px;
}

#container #menu-wrap .menu-item i {
    width:100%;
  padding:7px 0px 5px 0px;
  border-radius:0px;
}

#container #menu-wrap .menu-item i.fa-facebook {
  background:#3B5998;
  color:#FFF;
}
#container #menu-wrap .menu-item i.fa-twitter {
  background:#44CCF6;
  color:#FFF;
}
#container #menu-wrap .menu-item i.fa-linkedin {
  background:#0275B6;
  color:#FFF;
}
#container #menu-wrap .menu-item i.fa-google-plus {
  background:#D13F2D;
  color:#FFF;
}
  
#container #menu-wrap .menu-item span {
  width:32px;
  height:32px;
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: center;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    display: block;
  color:#fff;
  background:#1D1D1D;
/*  border:#09F thin solid;
  border-width:2px;*/
  border-radius:50%;
}

#container #menu-wrap .menu-item span:hover {
    top: -29px;
  font-size:20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

span.active {
  top:-20px !important;
  font-size:0px !important;
}

#container #menu-wrap .menu-item a {
  font-size:12px;
  color:#445878;
  text-decoration:none;
}

#container #menu-wrap .menu-item .text {
  text-decoration: none;
    font-size: 0px;
    padding:0px 0px 17px 0px;
    text-align: center;
  font-family:Arial, Helvetica, sans-serif;
  font-weight:normal;
    width: 100%;
    position: absolute;
    bottom: -27px;
    display: block;
/*  border-top:#CCC thin solid;
  border-top-width:1px;*/
     background-color: #FFF;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#container #menu-wrap .menu-item:hover > .text {
    bottom: 0;
  font-size:25px;
  padding:0;
    -webkit-transition: all 0.5s ease-in-out;
   -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  text-align:center;
}

#container #menu-wrap .menu-item .icon {
    width: 32px;
    height: 32px;
  padding:13px 9px 5px 4px;
  font-size:25px;
  text-align:center;
}


/* End of SOCIAL ICONS */

/* Wrap text around image */

.TextWrap
{ float: left;
  margin: 10px;
  border-radius:8px;
-moz-border-radius:8px;
-webkit-border-radius:8px;
-o-border-radius:8px;
-ms-border-radius:8px;
}

/* End of wrap text around image */

#site_content
{ width: 950px;
  overflow: hidden;
  margin: 0 auto 0 auto;
  padding: 0;
  background: transparent url(transparent.png) repeat;
  border: 1px solid #000;
  border-radius:8px;
-moz-border-radius:8px;
-webkit-border-radius:8px;
-o-border-radius:8px;
-ms-border-radius:8px;} 

#sidebar_container
{ float: right;
  width: 250px;
  margin: 25px 0;
border-radius:8px;
-moz-border-radius:8px;
-webkit-border-radius:8px;
-o-border-radius:8px;
-ms-border-radius:8px;}

.sidebar
{ float: right;
  width: 200px;
  margin: 0 24px 27px 0;
  background: #1d1d1d;
  border: 1px solid #000;
  padding: 0 15px 15px 15px;
border-radius:8px;
-moz-border-radius:8px;
-webkit-border-radius:8px;
-o-border-radius:8px;
-ms-border-radius:8px;}

.sidebar h3, .content h1
{ padding: 10px 15px;
  margin: 0 1px;}

.sidebar h1
{ padding: 5px 0 0 0;}

#content
{ text-align: left;
  font-size: 16px;
  width: 630px;
  padding: 25px 0 5px 25px;
  margin: 0;}

#content ul
{ margin: 2px 0 22px 0px;}

#content ul li
{ list-style-type: none;
  background: url(bullet.png) no-repeat;
  margin: 0 0 6px 0; 
  padding: 0 0 4px 25px;
  line-height: 1.5em;}

#footer
{ clear: both;
  width: 950px;
  font: normal 150% 'yanone kaffeesatz',  arial, sans-serif;
  height:100px;
  margin-top: 20px;
  padding: 40px 0px 5px 0px;
  text-align: center; 
  color: #FFF;
  background: #1D1D1D;
  margin-bottom: 0px;
border-radius:8px;
-moz-border-radius:8px;
-webkit-border-radius:8px;
-o-border-radius:8px;
-ms-border-radius:8px;}
}

#footer p
{ padding: 0 0 10px 0;}

#footer a, #footer a:hover
{ color: #FFF;
  text-decoration: none;}

#footer a:hover
{ color: #35BDF5;
  text-decoration: none;}

.footermenu li{
  display: inline-block; 
  padding-right: 30px;
  clear: left;
}

.gallery img
{ position:absolute;}

.form_settings
{ margin: 5px 0 0 0;}

.form_settings p
{ padding: 0 0 10px 0;}

.form_settings span
{ padding: 5px 0; 
  float: left; 
  width: 170px; 
  text-align: left;}
  
.form_settings input, .form_settings textarea
{ width: 252px; 
  font: 100% 'trebuchet ms', arial;
  border: 0;
  border: 1px solid #eee;
  padding: 5px 10px;
  background: #fff;
  color: #FFF;}
  
.form_settings .submit
{ border: 0; 
  width: auto;
  margin: 0 0 0 200px; 
  cursor: pointer; 
  color: #35BDF5;
  border: 1px solid #ddd;
  padding: 5px 15px;
  background: #fff;
  font: normal 140% 'Yanone Kaffeesatz', sans-serif;}

.form_settings textarea, .form_settings select
{ font: 100% 'trebuchet ms', arial; 
  border: 1px solid #eee;
  padding: 5px 10px;
  background: #fff;
  width: 252px;
  overflow: auto;}

.form_settings select
{ width: 274px;}

.form_settings .checkbox
{ margin: 4px 0; 
  padding: 0; 
  width: 14px;
  border: 0;
  background: none;}

.search
{ color: #666;
  border: 1px solid #eee;
  margin: 0;
  padding: 10px 5px;
  width: 189px;
  color: #F14E23;}
  
.subscribe
{ color: #35BDF5;
  border: 1px solid #ddd;
  padding: 5px 10px;
  background: #fff;
  float: right;
  cursor: pointer;
  margin: 0;
  font: normal 140% 'Yanone Kaffeesatz', sans-serif;}
 
table
{ margin: 10px 0 30px 0;}

table tr th, table tr td
{ background: #F5F5F5;
  color: #111;
  padding: 7px 4px;
  text-align: left;}
  
table tr td
{ background: #FBFBFB;
  color: #111;
  border-top: 1px solid #FFF;}
